In [3]:
import pandas as pd
import numpy as np

In [82]:
df =pd.read_csv("spotify_millsongdata.csv")

In [83]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [84]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [85]:
df.shape

(57650, 4)

In [86]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [87]:
df = df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [88]:
df.head(10)

,artist,song,text
0,Deep Purple,Blind,I see reflections in the water \r\nAutumn col...
1,Tina Turner,Great Spirits,When the earth was young \r\nAnd the air was ...
2,Xentrix,Back In The Real World,"You tell us how you'll make it to the top, \r..."
3,Gordon Lightfoot,Never Say Trust Me,The sky above is filled with stars the road is...
4,Marianne Faithfull,Marathon Kiss,"I cherished the night of your marathon kiss, ..."
5,Enigma,Morphing Thru Time,"Earth. A biosphere. \r\nA complex, \r\nSubtl..."
6,Billie Holiday,If You Were Mine,If you were mine \r\nI could be a ruler of ki...
7,Vonda Shepard,I've Been Here Before,I've tried so many times \r\n \r\nTo Keep ro...
8,Nine Inch Nails,Starfuckers,Starfuckers \r\nStarfuckers \r\nStarfuckers ...
9,Moody Blues,Meet Me Halfway,Never dreamt I would hope \r\nWhile I count t...

In [89]:
df['text'][0]

"I see reflections in the water  \r\nAutumn colours, summer's daughter  \r\nAnd as as the year is growing older  \r\nI see winter on my shoulder  \r\nI stand in the haze  \r\nWatching stormy ripples grow on my own  \r\nNever knew your needed  \r\nTill I found myself standing here alone  \r\n  \r\nAnd in the water, such a sad face  \r\nSlowly drowning, such a sad face  \r\nIf only I could change the seasons  \r\nLike a poet, I've my reasons  \r\nIt started to snow in the middle of July  \r\nWonder why  \r\nNever did understand you  \r\nMy sorrow is hanging in the grey sky  \r\n  \r\nIn the summer days we flew to the sun  \r\nOn melting wings  \r\nBut the seasons changed to fast  \r\nLeave us all behind  \r\nBlind  \r\n  \r\nBut then the stone fell on the water  \r\nPutting end to summer's daughter  \r\nAnd me, I turn away remembering  \r\nAll the seasons, such a sad thing  \r\nIt started to rain in the middle of the sun  \r\nWinter's begun  \r\n  \r\nNever did understand you  \r\nMy sorrow is hanging in the grey sky  \r\n  \r\nIn the summer days we flew to the sun  \r\nOn melting wings  \r\nBut the seasons changed to fast  \r\nLeave us all behind  \r\nBlind\r\n\r\n"

In [90]:
df.shape

(5000, 3)

Text Cleaning/ Text Preprocessing

In [91]:
df['text'] = df['text'].str.lower().replace(r'^\w\s',' ').replace(r'\n', ' ', regex = True)

In [92]:
df.tail(5)

,artist,song,text
4995,Horrible Histories,Evil Roman Emperors (Bad),"lead 1: \r the famous roman empire, \r \r ..."
4996,Kinks,Oklahoma U. S. A.,"all life we work but work is bore, \r if life..."
4997,Drake,Side Pieces,[drake] \r side pieces \r i know that you're...
4998,Nat King Cole,Madrid,"madrid, madrid \r where is my love \r why di..."
4999,Janis Joplin,Kozmic Blues ( In Album Woodstock ),"time keeps movin' on, \r friends, they turn a..."

In [93]:
import nltk
from nltk.stem import PorterStemmer

In [94]:
stemmer = PorterStemmer()

In [95]:
def token(txt):
    token = nltk.word_tokenize(txt)
    stemmer = PorterStemmer()
    a = [stemmer.stem(w) for w in token]
    return " ".join(a)

In [96]:
token("you are beautiful, beauty")

'you are beauti , beauti'

In [97]:
df['text'].apply(lambda x: token(x))

0       i see reflect in the water autumn colour , sum...
1       when the earth wa young and the air wa sweet a...
2       you tell us how you 'll make it to the top , b...
3       the sky abov is fill with star the road is lon...
4       i cherish the night of your marathon kiss , ch...
                              ...
4995    lead 1 : the famou roman empir , lead 2 : wa t...
4996    all life we work but work is bore , if life 's...
4997    [ drake ] side piec i know that you 're watch ...
4998    madrid , madrid where is my love whi did you l...
4999    time keep movin ' on , friend , they turn away...
Name: text, Length: 5000, dtype: object

In [98]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [99]:
tfid = TfidfVectorizer(analyzer='word',stop_words='english')

In [100]:
matrix = tfid.fit_transform(df['text'])

In [108]:
similer = cosine_similarity(matrix)

In [109]:
similer[0]

array([1.        , 0.02187924, 0.01106958, ..., 0.00917907, 0.02123221,
       0.01913386], shape=(5000,))

In [105]:
df[df['song']=='Madrid'].index[0]

np.int64(4998)

Recommender Function

In [113]:
def recommender(song_name):
    idx = df[df['song']==song_name].index[0]
    distance = sorted(list(enumerate(similer[idx])), reverse=True, key = lambda x:x[1])
    song = []
    for s_id in distance[1:21]:
        song.append(df.iloc[s_id[0]].song)
    return song

In [114]:
recommender("Madrid")

['Tell Me',
 "Just Can't Say Goodbye",
 "Goodbye's",
 "I Just Can't Let You Say Goodbye",
 'You Belong To My Heart',
 'Long, Long Way To Go',
 'Till They Take My Heart Away',
 'Desiree',
 'Olive Me',
 'Evil',
 'Why When How',
 'Open Door',
 "It's Never Easy To Say Goodbye",
 'Goodbye Baby, Hello Friend',
 'Black And Blue',
 'Did I Say That?',
 'Did You Know',
 'Anyone Who Had A Heart',
 'Hello, I Am Your Heart',
 'Why Did You Do It Just Tonight']

In [115]:
import pickle

In [116]:
pickle.dump(similer, open("similarity","wb"))

In [117]:
pickle.dump(df, open("similarity","wb"))

In [4]:
music_df = pd.DataFrame({
    'song': ['Song1', 'Song2', 'Song3', 'Song4', 'Song5'],
    'artist': ['Artist1', 'Artist2', 'Artist3', 'Artist4', 'Artist5']
})

# สร้างเมทริกซ์ความคล้ายคลึงตัวอย่าง (คุณสามารถแทนที่ด้วยเมทริกซ์จริงจากโมเดลของคุณ)
similarity_matrix = np.random.rand(5, 5)

# บันทึก DataFrame เป็นไฟล์ pickle
music_df.to_pickle('C:/JN/data/df.pkl')

# บันทึกเมทริกซ์ความคล้ายคลึงเป็นไฟล์ pickle
with open('C:/JN/data/similarity.pkl', 'wb') as f:
    pickle.dump(similarity_matrix, f)

print("ไฟล์ df.pkl และ similarity.pkl ถูกสร้างขึ้นเรียบร้อยแล้ว"

_IncompleteInputError: incomplete input (778183753.py, line 16)